  section.slide1 h2 {
    line-height: 1.5vw;
    margin-top: 2vh;
    font-size: 1vw;
  }
  
  section.slide1 h1 {
    color: white;
  }

  section.slide1 p {
    color: white;
  }

  #tsparticles {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

